.items {
    padding: 85px 0 95px 0;
}

.items-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.items-box__item {
    max-width: 285px;
    width: 100%;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -ms-border-radius: 6px 6px 0px 0px;
    -o-border-radius: 6px 6px 0px 0px;
    .items-box__item--img {
        height: 204px;
        border-radius: 6px 6px 0 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        -ms-border-radius: 6px 6px 0 0;
        -o-border-radius: 6px 6px 0 0;
    }
    .items-box__item--text {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        padding: 29px 15px 28px 34px;
        color: #000000;
    }
}