.news {
    padding: 59px 0 20px 0;
}

.news-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 92px;
    a {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 49%;
        min-height: 204px;
        background-color: #0B4ABE;
        border-radius: 6px;
        font-weight: 600;
        font-size: 30px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        padding: 0 0 37px 0;
        box-sizing: border-box;
    }
}

.btn-1 {
    background-image: url(../img/svg/ico1.svg);
    background-position: center 43px;
    background-repeat: no-repeat;
    background-size: auto;
}

.btn-2 {
    background-image: url(../img/svg/ico2.svg);
    background-position: center 43px;
    background-repeat: no-repeat;
    background-size: auto;
}

.news-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 38px;
    .title {
        margin-bottom: 25px;
    }
}

.news-box__left {
    width: 49%;
}

.news-box__right {
    width: 48.8%;
}

.news-box-item {
    margin-bottom: 50px;
    width: 90%;
}

.news-box-item--date {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 0 0 0 31px;
    background: url(../img/svg/clock-ico.svg) no-repeat left top;
    margin-bottom: 12px;
}

.news-box-item--title {
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 17px;
}

.news-box-item--desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

@media screen and (max-width: 1199px) {
    .title {
        font-size: 28px;
    }
    .news-box-item--date {
        font-size: 14px;
    }
    .news-box-item--title {
        font-size: 17px;
    }
    .news-box-item--desc {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 991px) {
    .title {
        font-size: 25px;
    }
    .news-box-item--title {
        font-size: 16px;
    }
    .news-box__right {
        width: 49%;
    }
    .news .logo {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
}

@media screen and (max-width: 575px) {
    .news-btns {
        flex-direction: column;
        margin-bottom: 30px;
        a {
            width: 100%;
            margin-bottom: 20px;
            min-height: 130px;
            font-size: 22px;
            padding: 0 0 15px 0;
        }
    }
    .btn-1,
    .btn-2 {
        background-position: center 25px;
        background-size: 10%;
    }
    .news-box {
        flex-direction: column;
    }
    .news-box__left {
        width: 100%;
        margin-bottom: 30px;
    }
    .news-box__right {
        width: 100%;
    }
    .news-box-item {
        margin-bottom: 30px;
        width: 100%;
    }
    .news-box .title {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 475px) {
    .news-btns {
        a {
            min-height: 80px;
            font-size: 18px;
            padding: 0 0 10px 0;
        }
    }
    .btn-1,
    .btn-2 {
        background-position: center 15px;
        background-size: 7%;
    }
}

@media screen and (max-width: 375px) {
    .btn-1,
    .btn-2 {
        background-position: center 15px;
        background-size: 8%;
    }
}

@media screen and (max-width: 320px) {
    .btn-1,
    .btn-2 {
        background-position: center 15px;
        background-size: 10%;
    }
}